<div class="panel panel-default">
  <div class="panel-heading">Person #<span ng-bind="ctrl.person.key"></span></div>
  <div class="panel-body">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" ng-model="ctrl.person.name">
    </div>
    <div>
      <label for="phone">Phone:</label>
      <input type="text" class="form-control" name="phone" ng-model="ctrl.person.phone">
    </div>
    <div class="form-group" style="margin-top: 15px">
      <div class="pull-right">
        <button type="button" class="btn btn-default" ui-sref="persons">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="ctrl.updatePerson()">Save</button>
      </div>
    </div>
  </div>
</div>