<div class="sidenav persons-nav animated bounceInLeft" ng-class="{open: hamburgerOpenState}">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" ui-sref-active="active" ng-click="hamburgerOpenState = false"><a ui-sref="persons-ng-repeat">Ng-repeat</a></li>
    <!--li role="presentation" ui-sref-active="active" ng-click="hamburgerOpenState = false"><a ui-sref="persons-fast-repeat">Fast-repeat</a></li-->
    <li role="presentation" ui-sref-active="active" ng-click="hamburgerOpenState = false"><a ui-sref="persons-react">React</a></li>
  </ul>
</div>
