<div class="panel panel-default">
  <div class="panel-heading">Person #<span ng-bind="vm.person.key"></span></div>
  <div class="panel-body">
    <div>
    	<strong>Name:</strong> {{vm.person.name}}
    </div>
    <div>
    	<strong>Phone:</strong> {{vm.person.phone}}
    </div>
    <div>
      <i>All info in one go: {{vm.person.getAllInfo()}}</i>
    </div>
    <div class="pull-right control-panel">
      <button type="button" class="btn btn-default" ui-sref="persons">Back</button>
      <button type="button" class="btn btn-danger" ui-sref="editperson({key:vm.person.key})">Edit</button>
  	</div>
  </div>
</div>
