<div class="panel panel-default">
  <div class="panel-heading">Person #<span ng-bind="ctrl.person.key"></span></div>
  <div class="panel-body">
    <div>
    	<strong>Name:</strong> {{ctrl.person.name}}
    </div>
    <div>
    	<strong>Phone:</strong> {{ctrl.person.phone}}
    </div>
    <div class="pull-right" style="margin-top: 15px">
      <button type="button" class="btn btn-default" ui-sref="persons">Back</button>
      <button type="button" class="btn btn-danger" ui-sref="edit-person({key:ctrl.person.key})">Edit</button>
  	</div>
  </div>
</div>